# ============================================================
# TASK 3 - PURE AREA OPTIMIZATION
# ============================================================

-size (bytes) 262144

# Power gating
-Array Power Gating - "false"
-WL Power Gating - "false"
-CL Power Gating - "false"
-Bitline floating - "false"
-Interconnect Power Gating - "false"
-Power Gating Performance Loss 0.01

# Line size
-block size (bytes) 64

# Associativity
-associativity 8

# Ports
-read-write port 1
-exclusive read port 0
-exclusive write port 0
-single ended read ports 0

# Banks and technology
-UCA bank count 4
-technology (u) 0.045

# Main memory parameters
-page size (bits) 8192
-burst length 8
-internal prefetch width 8

# Data array
-Data array cell type - "itrs-hp"
-Data array peripheral type - "itrs-hp"

# Tag array
-Tag array cell type - "itrs-hp"
-Tag array peripheral type - "itrs-hp"

# Bus width
-output/input bus width 512

# Temperature
-operating temperature (K) 350

# Cache type
-cache type "cache"

# Tag size
-tag size (b) "default"

# Access mode
-access mode (normal, sequential, fast) - "normal"

# ============================================================
# PURE AREA OBJECTIVE
# area = 100%
# ============================================================
-design objective (weight delay, dynamic power, leakage power, cycle time, area) 0:0:0:0:100

-deviate (delay, dynamic power, leakage power, cycle time, area) 100000:100000:100000:100000:0

# ED optimization disabled
-Optimize ED or ED^2 (ED, ED^2, NONE): "NONE"

# UCA
-Cache model (NUCA, UCA) - "UCA"
-NUCA bank count 0

# Wire configuration
-Wire signaling (fullswing, lowswing, default) - "Global_30"
-Wire inside mat - "semi-global"
-Wire outside mat - "semi-global"

-Interconnect projection - "conservative"

# Core/cache
-Core count 8
-Cache level (L2/L3) - "L2"

# ECC
-Add ECC - "true"

# Output
-Print level (DETAILED, CONCISE) - "DETAILED"
-Print input parameters - "true"

# Do not force a particular cache organization
-Force cache config - "false"

# These are ignored when Force cache config = false
-Ndwl 1
-Ndbl 1
-Nspd 0
-Ndcm 1
-Ndsam1 0
-Ndsam2 0


# ============================================================
# EXTERNAL IO PARAMETERS
# ============================================================

-dram_type "DDR3"

-io state "WRITE"

-addr_timing 1.0

-mem_density 4 Gb

-bus_freq 800 MHz

-duty_cycle 1.0

-activity_dq 1.0

-activity_ca 0.5

-num_dq 72

-num_dqs 18

-num_ca 25

-num_clk 2

-num_mem_dq 2

-mem_data_width 8

-rtt_value 10000

-ron_value 34

-tflight_value

-num_bobs 1

-capacity 80

-num_channels_per_bob 1

# Memory ranking
-first metric "Cost"
-second metric "Bandwidth"
-third metric "Energy"

-DIMM model "ALL"

-mirror_in_bob "F"